.wrapper {
  width: 100%;
  margin-top: 30px;
}

.wrapper:last-child {
  margin-top: auto;
}

h4 {
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  padding: 10px;
}


/* =================== FORM inserir ToDo (ini) =================== */

.form-box {
    width: 50%; /*400px*/
    padding: 1rem; /*40px*/
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    margin-top: 15px;
  }

  .form-box .name-box {
    position: relative;
  }
  
  .form-box .name-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }

  .form-box .name-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }

/*.form-box .name-box input:valid ~ label*/
.form-box .name-box input:focus ~ label {
  top: -20px;
  left: 0;
  color: #fff;
  font-size: 12px;
}

/* =================== FORM inserir ToDo (fim) =================== */

/* =================== Login (ini) =================== */
/*Exemplo retirado de https://codepen.io/soufiane-khalfaoui-hassani/pen/LYpPWda*/

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  margin-top: auto;
}

.login-box .name-box input:focus ~ label,
.login-box .name-box input:valid ~ label {
  top: -20px;
  left: 0;
  font-size: 12px;
}

.form-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.form-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #942A57; /*#03e9f4*/
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.form-box a:hover {
  background: #942A57; /*03e9f4*/
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #942A57,
              0 0 25px #942A57,
              0 0 50px #942A57,
              0 0 100px #942A57; /*03e9f4*/
}

.form-box a span {
  position: absolute;
  display: block;
}

.disabledLink {
  color: #AAAAAA !important;
  cursor: default;
  pointer-events: none;
  text-decoration: none;
}

.form-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #942A57); /*03e9f4*/
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.form-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #942A57);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.form-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #942A57);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.form-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #942A57);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}
/* =================== Login (fim) =================== */

/*.form-box .btn {*/
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


/* ngIf animation */
.animationIf.ng-enter,
.animationIf.ng-leave {
  -webkit-transition: opacity ease-in-out 1s;
  -moz-transition: opacity ease-in-out 1s;
  -ms-transition: opacity ease-in-out 1s;
  -o-transition: opacity ease-in-out 1s;
  transition: opacity ease-in-out 1s;
}
.animationIf.ng-enter,
.animationIf.ng-leave.ng-leave-active {
  opacity: 0;
}
.animationIf.ng-leave,
.animationIf.ng-enter.ng-enter-active {
  opacity: 1;
}

/* ===================== CARD (ini) ===================== */

/* general styles */

body {
  font-family: 'Helvetica Neue',Arial,Helvetica,sans-serif;
}

ol {
  padding: 0;
}

li {
  list-style: none;
}

/* column styles */

.column__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-gap: .5rem;
  align-items: start;
}

.column__item {
  border-radius: .2rem;
  /*background-color: #dfe3e6;*/
  padding: .5rem;
}

/* card styles */

.card__list {
  display: grid;
  grid-template-rows: auto;
  grid-gap: .5rem;
  margin: .5rem 0;
}

.card__item {
  background-color: white;
  border-radius: .25rem;
  box-shadow: 0 1px 0 rgba(9,45,66,.25);
  padding: .5rem;
}

.card__tag {
  font-size: .75rem;
  padding: .1rem .5rem;
  border-radius: .25rem;
  font-weight: 700;
  color: white;
  /*margin-bottom: .75rem;*/
  display: inline-block;
}

/* sticker colors */

.card__tag--todo {
  background-color: #00c2e0;
}

.card__tag--doing {
  background-color: #f2d600;
}

.card__tag--done {
  background-color: #61bd4f;
}

.card__tag--block {
  background-color: #eb5a46;
}

.card__title {
  color: #17394d;
  margin-bottom: .75rem;
}

/* card actions */

.card__actions {
  display: flex;
  align-items: center;
}

.card__actions--wrapper i {
  color: #798d99;
  margin-right: .5rem;
}

.card__actions--text {
  color: #798d99;
  font-size: .8rem;
  margin-left: -.25rem;
  margin-right: .5rem;
}

.card__avatars {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.card__avatars--item {
  margin-left: .25rem;
  width: 28px;
  height: 28px;
}

.avatar__image {  
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ===================== CARD (fim) ===================== */

/* ALERTS */
.bd-example {
  padding: 1.5rem;
  margin-right: 0;
  margin-left: 0;
  border-width: .2rem;
}

.alert {
  position: relative;
  padding: .75rem 1.25rem;
      padding-right: 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
  border-radius: .25rem;
}

.alert-dismissible {
  padding-right: 4rem;
}

.fade {
  opacity: 0;
  transition: opacity .15s linear;
}

.fade.show {
  opacity: 1;
}

.close:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.alert-dismissible .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: .75rem 1.25rem;
  color: inherit;
}

button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  margin-top: -0.2rem;
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.alert-primary {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}
